@import '../../global.scss';

.wrapper{
  display: flex;
  position: relative;
  border: 1px solid black;
  height: 10vh;
  .logo{
    
    position: absolute;
    left: 10px;
    top: 5px;
    >img{
      height: 40px;
      width: 40px;
    }
    
  }
  .menu{
    @media(max-width:$sm),(max-width:$md){
      position: absolute;
    right: 10px;
    top:25px; 
    }
    position: absolute;
    right: 50px;
    bottom: 10px;
    
    
    .links{
      text-decoration: none;
      font-weight: 600;
      padding: 10px;
    }
    .links:hover{
      text-decoration: underline;
    }
  }
}