@import '../../global.scss';

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  // border: 1px solid red;
  .formControl{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    >input{
      width: 100%;
      border-right: none;
    }
    >button{
      color: #ffff;
      background-color: darkblue;
      padding: 9px;
    }
  }

}